@import "tailwindcss";

.form-password-input-wrapper {
  @apply flex items-center border rounded-sm cursor-text focus-within:border-(--dark-blue);
  font-family: var(--font-ibm-plex-sans), sans-serif;
}

.form-password-input {
  @apply w-full outline-none;
}
