@import "tailwindcss";

.button {
  @apply font-bold text-xl px-[40px] py-[10px] ml-7 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center;
  font-family: var(--font-lato), sans-serif;
}
